* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url('i') no-repeat center center fixed;
    background-size: cover;
    font-family: Arial, sans-serif;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    backdrop-filter: blur(5px);
}

.login-box {
    background: rgba(255, 255, 255, 0.8);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    text-align: center;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: normal;
}

.input-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

.forgot-password {
    display: block;
    margin-top: 10px;
    font-size: 12px;
    color: #555;
    text-decoration: none;
}

.forgot-password:hover {
    text-decoration: underline;
}
