*,
html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
    background: url(../img/background.jpg) no-repeat center center fixed;
    background-size: cover;
}

.title {
    margin-top: 20px;
}

.keterangan {
    text-align: justify;
    margin-top: 20px;
}

.container {
    display: flex;
    justify-content: space-around;
    background-color: rgba(255, 255, 255, 80%);
    border-radius: 30px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 8px 5px #005EBC;
}

.alert {
    text-align: center;
}

.col-md-6 {
    text-align: center;
    justify-content: center;
    align-items: center;
}

.alert {
    width: 310px;
    height: 70px;
    display: flex;
    align-items: center;
}

.mb-3 {
    width: 310px;
}

.btn {
    width: 310px;
}

p {
    font-family: sans-serif;
    font-weight: 500;
}