nav {
    background-color: #c6cee7;
    box-shadow: 2px 2px #005EBC;
}

.navbar {
    height: 50px;
    background-color: #c6cee7;
    display: flex;
    box-shadow: 2px 2px #005EBC;
}

.navbar img {
    width: 210px;
    height: 48px;
    margin: 0px 50px;
}

.navbar-nav {
    margin: 0px 50px;
    display: flex;
    align-items: center;
}

.login a {
    display: block;
    text-align: center;
    width: 80px;
    height: 30px;
    border-radius: 30px;
    padding: 3px 18px;
}